CRAWLER_MAX_POSTS_PER_BLOGGER=50
CRAWLER_MAX_SLEEP_SEC=10
CRAWLER_MIN_SLEEP_SEC=3
SAVE_DATA_PATH=data
LOG_LEVEL=INFO
HEADLESS=true
COOKIES=
XHS_CRAWLER_TYPE=creator
DATABASE_PATH=data/xhs_bloggers.db
CDP_DEBUG_PORT=9222
CDP_CONNECT_EXISTING=false
